.tag {
    font-size: 14px;
    font-weight: 500;
    background-color: #f9f9f9;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Media query for Android and smaller screens */
  @media (max-width: 768px) {
    .tag {
      font-size: 13px;
      padding: 2px 8px;
      margin-right: 8px;
    }
  }
  
  /* Media query for very small Android phones */
  @media (max-width: 480px) {
    .tag {
      font-size: 12px;
      padding: 2px 6px;
      margin-right: 6px;
    }
  }
  